page-estate-menu {
    ion-card {
        padding: 16px;
        text-align: center;
    }
    ion-icon {
        padding: 10px;
        font-size:18px;	
        text-align: center;
    }

    ion-content {
        background-color: #74efc4 !important;
    }

}
